
body {
    padding: 0;
    margin: 0;
}
footer {
    background: #73968f;
    
    
    
}
.container-footer {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-right: 20px;
    
}

.container-footer .princip img {
    width: 180px;
    height: 100px;
    padding-right: 30px;
    
}
.logosfoot #logosfoot {
    width: 20px;
    height: 20px;
    display: flex;
   
    
}
.container-footer .verticalLine {
    color: white;
    border-left:solid;

    
}
.pestafoot #pestanas .abajo {
    list-style: none; 
    float: left;
    display: flex;
    margin: 40px;
    margin-bottom: -40px;
    
    
    
    

}

.pestafoot #pestanas .abajo .masbajo{    
    text-decoration-line: none;
    color:ghostwhite !important;
    font-family: 'Vesper Libre', serif;
    font-size: 16px;
    
}

.barra-horiz {
    padding-left: 150px;
    align-content: flex-end;
    color: linen;

}
.subtitulo {
    padding-left: 500px;
    color: white;
}
.pestaServ #listaServ .tipos {
    list-style: none; 
    float: left;
    display: flex;
    margin: 10px;
    margin-top: -8px;
    
    

}

.pestaServ #listaServ .tipos a {    
    text-decoration-line: none;
    color:ghostwhite !important;
    font-family: 'Vesper Libre', serif;
    font-size: 16px;
    margin-bottom: -40px;
    
}



.formulario {
    display: flex;
    justify-content: space-around;
    color:ghostwhite;
    font-family: 'Vesper Libre', serif;
    font-size: 12px;
    padding-bottom: 120px;
    
}
.formulario .parrafo {
    padding-left: 80px;
    width: 400px;
    height: 100px;
}

